body {
    background-color: #73e995;
}
h1{
    font-size: 4em;
    text-align: center;
}

p {
    color: #965e83;
    margin-left: 100px;
}

#picture{
    width:300px;
    height:300px;
    margin-radius: 50%;
}

div#youtubevid{
    position:relative;
    top: 122px;
    height:0;
    padding-bottom:10%;
}
