body {
    background-color: #73e995;
}

p {
    color: #965e83;
    margin-left: 100px;
}

#picture{
    width:300px;
    height:300px;
}

div#youtubevid{
    position:relative;
    height:0;
    padding-bottom:56.25%;
}
