body {
    background-image: url("backGround.jpg");
}
h1{
    font-size: 4em;
    text-align: center;
}

p {
    color: #965e83;
    margin-left: 100px;
}

#picture{
    width:300px;
    height:300px;
    margin:auto;
    
}

div#youtubevid{
    position:relative;
    right: -20%;
    top: 122px;
    height:0;
    padding-bottom:10%;
}
