body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("backGround.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.heading{
    margin: auto;
    position: absolute;
    height:400px;
    width: 900px;
    top:0px; bottom:0px; left:0px; right:0px;
}

span.title{
    display: block;
    text-align: center;
    color: white;
    font-size: 77pt;
    font-family:impact;
}

span.subTitle{
    display: block;
    text-align: center;
    color: white;
    font-size: 22pt;
    font-family: big john;
}

div.button{
    display: block;
    text-align: center;
}
